In [37]:
# packages
import numpy as np
import pandas as pd
import numpy as np


import matplotlib.pyplot as plt
import seaborn as sns

In [24]:
paid_df = pd.read_csv('Resources/paid_analysis.csv')
paid_df.head()

   total_reviews  paid_five_s_reviews percent_paid_five
0             94                   48               51%

In [25]:
unpaid_df = pd.read_csv('Resources/unpaid_analysis.csv')
unpaid_df.head()

   total_reviews  unpaid_five_s_reviews percent_unpaid_five
0          40471                  15663                 39%

In [31]:
analysis = pd.DataFrame({
    "Paid Reviews": {"Total": 94, "5 Star": 48, "Percent of 5 star": 51},
    "Unpaid Reviews": {"Total": 40471, "5 Star": 15663, "Percent of 5 star": 39}
})

In [32]:
analysis

                   Paid Reviews  Unpaid Reviews
Total                        94           40471
5 Star                       48           15663
Percent of 5 star            51              39